<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
    <meta charset="utf-8"/>
	<title th:text="${headTitle}">修改回复</title>
</head>
<body>
	<div layout:fragment="content" class="container">

        <form id="updateForm" th:action="${postUrl}" th:object="${autoresponse}" action="/autoresponse/add" method="post">
            <input type="hidden" name="id" th:field="*{id}" />
            <input type="text" name="keyword" th:field="*{keyword}" class="form-control" placeholder="关键字" autofocus/>
            <input type="text" name="msgType" th:field="*{msgType}" class="form-control" placeholder="媒体类别"/>
            <textarea name="message" th:field="*{message}" class="form-control" placeholder="回复内容"></textarea>
            <button class="btn btn-lg btn-login btn-block" type="submit">
                <i class="fa fa-check"> 保存</i>
            </button>
        </form>

	</div>

	<!-- 被引入装饰页面  -->
	<div layout:fragment="javascript">

	</div>
</body>
</html>
