<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!--xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">-->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<title>博客文章</title>
</head>
<body>
<ul>
    <li th:each="article : ${articles}">
        <a href="/blog/1" th:href="@{/blog/detail(id=${article.id})}" th:text="${article.title}">标题</a>
        <p></p>
    </li>
</ul>
</body>
</html>
