<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
	<meta name="description" content="蔡鸿文的个人网站-博客，一个IT男的世界，欢迎入侵！"/>
	<meta name="keyword" content="蔡鸿文,个人网站,博客,IT男"/>
	<meta name="author" content="Cherish"/>
	
	<title>Cherish you</title>
    <script>
        if(top.location!=self.location)top.location=self.location;
    </script>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet"/>

	<script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>

	<!-- Header Area -->
	<div id="top" class="header">
		<div class="vert-text">
			<img class="img-circle" id="logo" alt="Company Logo" src="../static/images/logo.jpg" />
			<h2>
				<em>Cherish Cai</em>
			</h2>
			<ul class="list-inline">
				<li><i class="fa fa-mars fa-3x"></i></li>
				<li><i class="fa fa-wechat fa-3x"></i></li>
				<li><i class="fa fa-qq fa-3x"></i></li>
				<li><i class="fa fa-github fa-3x"></i></li>
				<li><i class="fa fa-google-plus fa-3x"></i></li>
				<li><i class="fa fa-stack-overflow fa-3x"></i></li>
				<li><i class="fa fa-windows fa-3x"></i></li>
			</ul>
			<br> 
			<a href="#about" class="btn btn-top" aria-label="down to about">
				<i class="fa fa-hand-o-down fa-3x"></i>
			</a>
		</div>
	</div>
	<!-- /Header Area -->
	<div id="nav">
		<!-- Navigation -->
		<nav class="navbar navbar-new" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#mobilemenu">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a href="#top"><img class="img-circle img-little" id="myself" alt="head portrait" src="../static/images/myself.jpg" /></a>
					<a href="#top" class="navbar-brand">&nbsp;&nbsp;Cherish</a>
				</div>
				<div class="collapse navbar-collapse" id="mobilemenu">

					<ul class="nav navbar-nav navbar-right text-center">
						<li><a href="#top"><i class="service-icon fa fa-home"></i>&nbsp;Home</a></li>
						<li><a href="#about"><i class="service-icon fa fa-info"></i>&nbsp;About</a></li>
						<li><a href="#cooltimer"><i class="service-icon fa fa-spinner"></i>&nbsp;Timer</a></li>
						<li><a href="#services"><i class="service-icon fa fa-heart"></i>&nbsp;Blog</a></li>
						<li><a href="#focusMe"><i class="service-icon fa fa-qrcode"></i>&nbsp;focusMe</a></li>
						<li><a href="#contact"><i class="service-icon fa fa-envelope"></i>&nbsp;Contact</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
		</nav>
		<!-- /Navigation -->
	</div>
	<!-- About -->
	<div id="about" class="about_us">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h2>About Me</h2>
					<p class="lead">
						一名普通人类，有朝一日会毁灭地球！<br>
						while(true)<br>
						System.out.println("爱你");<br>
						if("You love me".equals("You hate me"))<br>
						System.out.println("朋友");<br>
						else<br>
						System.out.println("好人卡");
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- /About -->
	
	<!-- cooltimer -->
	<div id="cooltimer" class="cool_timer">
		<canvas id="canvas" style="height:100%">
	        	当前浏览器不支持Canvas，请更换浏览器后再试
	    </canvas>
	
	    <script src="../static/js/digit.js"></script>
	    <script src="../static/js/countdown.js"></script>
	</div>
	<!-- /cooltimer -->

	<!-- Services -->
	<div id="services" class="services">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 text-center">
					<h2>Blog Blog Blog</h2>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 text-center">
                    <a href="/blog?type=skill">
                        <div class="service-item">
                            <i class="service-icon fa fa-camera-retro fa-3x"></i>
                            <h3>技术</h3>
                            <p>技术文章，个人学习经历以及抄袭</p>
                        </div>
                    </a>
				</div>
				<div class="col-md-4 text-center">
                    <a href="/blog?type=life">
                        <div class="service-item">
                            <i class="service-icon fa fa-camera fa-3x"></i>
                            <h3>生活</h3>
                            <p>生活多姿多彩，怎能缺少</p>
                        </div>
                    </a>
				</div>
				<div class="col-md-4 text-center">
                    <a href="/blog?type=all">
                        <div class="service-item">
                            <i class="service-icon fa fa-globe fa-3x"></i>
                            <h3>技术 &amp; 生活</h3>
                            <p>技术源于生活，生活高于技术</p>
                        </div>
                    </a>
				</div>
			</div>
		</div>
	</div>
	<!-- /Services -->

	<!-- Portfolio -->
	<div id="focusMe" class="focusMe">
		<div class="container">
			<div class="row push50">
				<div class="col-md-4 col-md-offset-4 text-center">
					<h2>蔡大哥</h2>
					<h3>您的关注，无限动力</h3>
                    <small>微信自动回复的多样化实现，加入了图灵机器人、快递查询、天气查询、百度翻译</small>
					<hr>
				</div>
			</div>

			<div class="row">
                <div class="text-center">
                    <img src="/images/qrcode.jpg"/>
                </div>
			</div>
            <hr>
		</div>
	</div>
	<!-- /Portfolio -->
	<!-- Contact -->
	<div id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 text-center">
					<h2>Contact Me</h2>
					<hr>
				</div>
				<div class="col-md-5 col-md-offset-3">
					<!-- contact form starts -->
					<form action="/contactMe" id="contact-form" class="form-horizontal" method="post">
						<fieldset>
							<div class="form-group">
								<label class="col-sm-4 control-label" for="name">Your Name</label>
								<div class="col-sm-8">
									<input type="text" placeholder="Your Name" class="form-control"
										name="name" id="name">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label" for="email">Email Address</label>
								<div class="col-sm-8">
									<input type="text" placeholder="Enter Your Email Address"
										class="form-control" name="email" id="email">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label" for="subject">Subject</label>
								<div class="col-sm-8">
									<input type="text" placeholder="Subject" class="form-control"
										name="subject" id="subject">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label" for="message">Your Message</label>
								<div class="col-sm-8">
									<textarea placeholder="Please Type Your Message"
										class="form-control" name="message" id="message" rows="3"></textarea>
								</div>
							</div>
							<div class="col-sm-offset-4 col-sm-8">
								<button type="submit" class="btn btn-success">Submit</button>
								<button type="reset" class="btn btn-primary">Cancel</button>
							</div>
						</fieldset>
					</form>

					<!-- contact form ends -->
				</div>
			</div>
		</div>
	</div>
	<!-- /Contact -->
	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center">
					<h2>Thank You</h2>
					<em>Copyright&nbsp;&copy;&nbsp;Cherish&nbsp;2016&nbsp;粤ICP备16047166号</em>
				</div>
			</div>
		</div>
	</footer>
	<!-- /Footer -->


	<!--  js  -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/js/jquery-scrolltofixed-min.js" type="text/javascript"></script>
	<script src="/js/jquery.vegas.js" type="text/javascript"></script>
    <script src="https://cdn.bootcss.com/jquery-validate/1.16.0/jquery.validate.min.js"></script>
	<script src="/js/index.js" type="text/javascript"></script>

	<!-- 它过于慢，留作最后加载 -->
	<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css?family=Indie+Flower" />
</body>

</html>