<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="author" content="Cherish"/>
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon" />

	<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Cherish博客系统</title>

    <script>
        if(top.location!=self.location)top.location=self.location;
    </script>

    <!--common-->
    <link href="/css/style.css" rel="stylesheet"/>
    <link href="/css/style-responsive.css" rel="stylesheet"/>

    <!--bootstrap dataTables -->
    <link href="/css/style-table.css" rel="stylesheet"/>
    <link href="/css/table-responsive.css" rel="stylesheet"/>

    <script src="/js/jquery-1.12.4.min.js" type="text/javascript"></script>

    <link href="/tools/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <script src="/tools/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="/tools/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a th:href="@{/}"><img th:src="@{/images/logo.svg}" alt="LOGO"></a>
            <label>Cherish博客系统</label>
        </div>

        <div class="logo-icon text-center">
            <a th:href="@{/}"><img th:src="@{/images/logo.svg}" alt="LOGO"></a>
        </div>
        <!--logo and iconic logo end-->

        <div class="left-side-inner">

            <!-- visible to small devices only 只在小型设备手机端显示-->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="头像" th:src="@{/images/user-avatar.png}" class="media-object"/>
                    <div class="media-body">
                        <h4>
                            <a href="#"><label sec:authentication="name"></label></a>
                        </h4>
                    </div>
                </div>
            </div>

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="active"><a th:href="@{/admin}"><i class="fa fa-home"></i> <span> 数据汇总</span></a></li>

                <li class="menu-list" id="articleMenu">
                    <a href="javascript:void(0);">
                        <i class="fa fa-laptop"></i>
                        <span> 文章管理</span></a>
                    <ul class="sub-menu-list">
                        <li id="articleLi"><a th:href="@{/article/list}"> 文章列表</a></li>
                    </ul>
                </li>

                <li class="menu-list">
                    <a href="javascript:void(0);">
                        <i class="fa fa-area-chart"></i>
                        <span> 微信公众号</span></a>
                    <ul class="sub-menu-list">
                        <li><a th:href="@{/autoresponse}"> 自动回复</a></li>
                    </ul>
                </li>
            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content">

        <!-- header section start-->
        <div class="header-section">

            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->

            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">

                    <li><a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img th:src="@{/images/logo.jpg}" alt="" />
                            <span th:text="${#session.getAttribute('nickname')}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                            <li><a th:href="@{/user/modifyPassword}"><i class="fa fa-edit"></i> <span>修改密码</span></a></li>
                            <li><a th:href="@{/logout}"><i class="fa fa-sign-out"></i> 登出</a></li>
                        </ul></li>

                </ul>
            </div>
            <!--notification menu end -->

        </div>
        <!-- header section end-->
        <div sec:authorize="hasRole('ROLE_ADMIN')">
        <div id="contentpage" layout:fragment="content"></div>
        </div>
        <footer>
            2017 &copy; caihongwen.cn By Cherish
        </footer>

    </div>
    <!-- main content end-->
</section>

<script src="/tools/bootstrap-3.3.7/js/bootstrap.min.js"></script>

<script src="/js/modernizr.js"></script>
<script src="/js/jquery.nicescroll.js"></script>

<!--common scripts for all pages-->
<script src="/js/scripts.js"></script>
<script src="/js/admin/myModal.js" type="text/javascript"></script>
<script src="/js/ajax.js" type="text/javascript"></script>

<!--bootstrap dataTables -->
<script src="/tools/dataTables-1.10.12/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="/tools/dataTables-1.10.12/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
<script src="/tools/dataTables-1.10.12/js/dataTables.responsive.min.js" type="text/javascript"></script>
<script src="/tools/dataTables-1.10.12/js/responsive.bootstrap.min.js" type="text/javascript"></script>

<!-- 引入被装饰的js代码 -->
<div layout:fragment="javascript"></div>

</body>
</html>
